@define-color base #191724;
@define-color surface #1f1d2e;
@define-color overlay #26233a;
@define-color muted  #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;
@define-color love  #eb6f92;
@define-color gold  #f6c177;
@define-color rose  #ebbcba;
@define-color pine  #31748f;
@define-color foam  #9ccfd8;
@define-color iris  #c4a7e7;
@define-color hl-low #21202e;
@define-color hl-med #403d52;
@define-color hl-high #524f67;
