layout {
	// gaps 18
	center-focused-column "never"
	always-center-single-column
	background-color "transparent"

	preset-column-widths {
		proportion 0.25
		proportion 0.5
		proportion 0.75
		proportion 1.0
	}

	default-column-width {
		proportion 0.5
	}

	focus-ring {
		off
	}

	border {
		on
		width 5
		active-color "#ebbcba"
		inactive-color "#1f1d2e"
		urgent-color "#eb6f92"
	}

	shadow {
		on
		draw-behind-window true
		softness 40
		spread 5
		offset x=0 y=0
		color "#0007"
	}
}
