include "./configs/inputs.kdl"
include "./configs/outputs.kdl"
include "./configs/key-bindings.kdl"
include "./configs/layouts.kdl"
include "./configs/miscellaneous.kdl"
include "./configs/window-rules.kdl"
include "./configs/layer-rules.kdl"
include "./configs/animations.kdl"
include "./configs/gestures.kdl"
include "./configs/recent-windows.kdl"
include "./configs/debug-options.kdl"
