input {
	keyboard {
		repeat-delay 200
		repeat-rate 40
	}

	touchpad {
		tap
		dwt
		natural-scroll
		accel-speed 1.0
		accel-profile "flat"
		scroll-factor 0.4
		disabled-on-external-mouse
	}

	mouse {
		accel-speed -0.13
		accel-profile "flat"
		scroll-factor 1.3
	}
}

output "eDP-1" {
	mode "2240x1400@60.002"
	scale 1.6
}

switch-events {
	lid-close { spawn "noctalia" "msg" "session" "lock"; }
	lid-open { spawn "noctalia" "msg" "session" "lock"; }
}

layout {
	// gaps 0
	center-focused-column "never"
	always-center-single-column
	// background-color "#191724"
	background-color "transparent"

	preset-column-widths {
		proportion 0.25
		proportion 0.5
		proportion 0.75
		proportion 1.0
	}

	default-column-width {
		proportion 0.5
	}

	focus-ring {
		off
		// width 3
		// active-color "#ebbcba"
		// urgent-color "#eb6f92"
	}

	border {
		// off
		width 0
		active-color "#ebbcba"
		inactive-color "#191724"
		urgent-color "#eb6f92"
	}

	shadow {
		on
		softness 25
		spread 3
		offset x=0 y=0
		draw-behind-window true
		color "#00000070"
	}

	struts {
		top 35
		left 35
		right 35
		bottom 35
	}
}

workspace "main"
workspace "browser"
workspace "chat"
workspace "music"
workspace "game"
workspace "misc"

gestures {
	dnd-edge-view-scroll {
		trigger-width 10
		max-speed 2000
	}

	hot-corners {
		off
	}
}

recent-windows {
	off
}

// gsettings set org.gnome.desktop.interface text-scaling-factor 1.60
// gsettings set org.gnome.desktop.wm.preferences button-layout ''
spawn-at-startup "fcitx5" "-d"
// spawn-at-startup "warp-taskbar"
spawn-at-startup "wl-clip-persist" "-c" "regular" "-e"
spawn-at-startup "noctalia" "-d"
// spawn-at-startup "qs" "-c" "noctalia-shell" "-n"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
	MOZ_ENABLE_WAYLAND "1"
	PROTON_ENABLE_WAYLAND "1"
	OZONE_PLATFORM "wayland"
	ELECTRON_OZONE_PLATFORM_HINT "wayland"

	SDL_VIDEODRIVER "wayland"
	GDK_BACKEND "wayland,x11,*"
	CLUTTER_BACKEND "wayland"

		// Java
	_JAVA_AWT_WM_NONREPARENTING "1"
	NO_AT_BRIDGE "1"

		// QT
	QT_QPA_PLATFORM "wayland"
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

	EDITOR "nvim"
	TERMINAL "foot"
	BROWSER "zen"
}

cursor {
	xcursor-theme "macOS-White"
	xcursor-size 32
	hide-when-typing
}

overview {
	zoom 1.0
	backdrop-color "#191724"
	workspace-shadow {
		softness 40
		spread 10
		offset x=0 y=0
		color "#0007"
	}
}

hotkey-overlay {
	skip-at-startup
}

blur {
  passes 3
  offset 3.0
  noise 0.0
  saturation 1.5
}

animations {
	// off
	slowdown 0.88

	// window-open {
	// 	duration-ms 500
	// 	curve "ease-out-expo"
	// 	custom-shader "vec4 fall_from_top(vec3 coords_geo, vec3 size_geo) {
	// 		float progress = niri_clamped_progress * niri_clamped_progress;
	// 		vec2 coords = (coords_geo.xy - vec2(0.5, 0.0)) * size_geo.xy;
	// 		coords.y += (1.0 - progress) * 1440.0;
	// 		float random = (niri_random_seed - 0.5) / 2.0;
	// 		random = sign(random) - random;
	// 		float max_angle = 0.5 * random;
	// 		float angle = (1.0 - progress) * max_angle;
	// 		mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
	// 		coords = rotate * coords;
	// 		coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 0.0), 1.0);
	// 		vec3 coords_tex = niri_geo_to_tex * coords_geo;
	// 		return texture2D(niri_tex, coords_tex.st); 
	// 	}
	// 	vec4 open_color(vec3 coords_geo, vec3 size_geo) {
	// 		return fall_from_top(coords_geo, size_geo);
	// 	}"
	// }

	// window-close {
	// 	duration-ms 500
	// 	curve "ease-out-expo"
	// 	custom-shader "vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
	// 		float progress = niri_clamped_progress * niri_clamped_progress;
	// 		vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;
	// 		coords.y -= progress * 1440.0;
	// 		float random = (niri_random_seed - 0.5) / 2.0;
	// 		random = sign(random) - random;
	// 		float max_angle = 0.5 * random;
	// 		float angle = progress * max_angle;
	// 		mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
	// 		coords = rotate * coords;
	// 		coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);
	// 		vec3 coords_tex = niri_geo_to_tex * coords_geo;
	// 		vec4 color = texture2D(niri_tex, coords_tex.st);
	// 		return color;
	// 	}
	// 	vec4 close_color(vec3 coords_geo, vec3 size_geo) {
	// 		return fall_and_rotate(coords_geo, size_geo);
	// 	}"
	// }

	window-open {
		duration-ms 400
		curve "ease-out-cubic"
			custom-shader "vec4 open_color(vec3 coords_geo, vec3 size_geo) {
			float p = niri_clamped_progress;
			vec2 uv = coords_geo.xy;

			vec2 center = vec2(0.5, 0.5);
			float scale = mix(0.95, 1.0, p);
			vec2 scaled_uv = (uv - center) / scale + center;

			vec3 tex_coords = niri_geo_to_tex * vec3(scaled_uv, 1.0);
			vec4 color = texture2D(niri_tex, tex_coords.st);

			float alpha = smoothstep(0.0, 0.8, p);

			return color * alpha;
		}"
	}

	window-close {
		duration-ms 400
		curve "ease-out-cubic"
		custom-shader "vec4 close_color(vec3 coords_geo, vec3 size_geo) {
			float p = niri_clamped_progress;
			vec2 uv = coords_geo.xy;

			vec2 center = vec2(0.5, 0.5);
			float scale = mix(1.0, 0.95, p);
			vec2 scaled_uv = (uv - center) / scale + center;

			vec3 tex_coords = niri_geo_to_tex * vec3(scaled_uv, 1.0);
			vec4 color = texture2D(niri_tex, tex_coords.st);

			float alpha = smoothstep(1.0, 0.2, p);

			return color * alpha;
		}"
	}
}

layer-rule {
	match namespace="^noctalia-.*$"

	background-effect {
		xray false
	}
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

window-rule {
	geometry-corner-radius 12
	clip-to-geometry true

	background-effect {
		blur true
		xray false
	}
}

window-rule {
	match is-floating=true

	border {
		width 3
		active-color "#ebbcba"
		inactive-color "#191724"
		urgent-color "#eb6f92"
	}
}

window-rule {
	match is-active=false

	opacity 0.87
}

// window main
window-rule {
	match app-id="code|^.*Zed$|^jetbrains.*$|antigravity|cursor|^virt-.*$"

	open-on-workspace "main"

	open-floating false
	open-focused true
}

// window browser
window-rule {
	match app-id="firefox|Tor Browser|^.*torbrowser-launcher$|^.*zen$"

	open-on-workspace "browser"

	open-focused true
}

// window chat
window-rule {
	match app-id="vesktop|^.*telegram.*$|^.*fluxer.*$|Zalo"

	open-on-workspace "chat"

	open-focused true
}

// window music
window-rule {
	match app-id="spotify|Spotify"

	open-on-workspace "music"

	open-focused true
}

// window game
window-rule {
	match app-id="steam|Upload Labs|^.*Sober$"

	open-on-workspace "game"
}

// window misc
window-rule {
	match app-id="winboat"
	match title="^OBS.*$"

	open-on-workspace "misc"
}

// default-column-width 1.0
window-rule {
	match app-id="code|^.*Zed$|^jetbrains.*$|antigravity|cursor|^virt-.*$|firefox|Tor Browser|^.*torbrowser-launcher$|^.*zen$|vesktop|^.*telegram.*$|^.*fluxer.*$|Zalo|^.*telegram.*$|spotify|Spotify|ONLYOFFICE"
	match app-id="steam" title="Steam"
	match title="^OBS.*$"

	default-column-width { proportion 1.0; }
}

// open-floating true
window-rule {
	match app-id="^.*javac.*$|zenity|^.*waytator$|warp-taskbar"
	match title="^About.*$|Library|^Pushbullet.*$|^Picture-in.*$|^Picture in.*$|^splash.*$|^Splash.*$|Close Tor Browser|^Welcome to.*$|^.*Setup Wizard$|^.*User Agreement$|^Open File.*$|New Solution|^zoom.*$|^Calculator.*$|^Warning.*$|Open Document|^Select.*$|Friends List|^Myrlyn-.*$|Servers|^Incoming.*$"
	match app-id="vesktop" title="^vesktop$"
	match app-id="code" title="^Settings.*$|^Uninstall$"
	match app-id="virt-manager"

	open-floating true
}

// open-floating false
window-rule {
	match app-id="winboat"
	match app-id="virt-manager" title="Virtual Machine Manager|^.*on QEMU/KVM$"
	match title="^OBS.*$"

	open-floating false
}

// border off
window-rule {
	match app-id="zenity"
	match app-id="vesktop" title="^vesktop$"
	match title="^splash.*$|^Splash.*$|zoom|^Updater.*$|^Sign in.*$|^Starting Apache.*$|^Warning.*$"

	border { off; }
}

// steam / games
window-rule {
	match app-id="steam" title="^Sign in.*$"

	open-floating true
	
	default-floating-position x=-73 y=131.5 relative-to="right"
}

window-rule {
	match app-id="steam" title="Shutdown"

	open-floating true

	default-floating-position x=42 y=72.5 relative-to="right"

	border {
		off
	}
}

window-rule {
	match app-id="steam" title="^.*Dialog$"

	open-floating true

	default-floating-position x=290 y=53.5 relative-to="right"
}

window-rule {
	match app-id="steam" title="Friends List"

	default-column-width { proportion 0.2; }
	default-window-height { proportion 0.5; }

	default-floating-position x=24 y=24 relative-to="bottom-right"
}

window-rule {
	match app-id="Upload Labs"
	match app-id="^.*Sober$" title="Sober"

	default-column-width { proportion 1.0; }
	default-window-height { proportion 1.0; }

	open-floating false
	open-fullscreen true
}

// default-column-width default-window-height open-floating true
window-rule {
	match app-id="^xdg-desktop-portal-gtk$"
	match app-id="^.*Nautilus$" title="^Open File.*$"
	match app-id="Electron" title="Save"
	match title="^dialog.*$|^confirm.*$|^Save As.*$|^Save Image.*$|^Open Folder.*$|^File Upload.*$|^Select.*$|^Choose wallpaper.*$|^Choose an image.*$|Choose File|^Locate ISO.*$|^blob.*$|Open project"

	default-column-width { proportion 0.8; }
	default-window-height { proportion 0.8; }

	open-floating true
}

// Picture-in-Picture
window-rule {
	match app-id="firefox|^.*zen$|chromium-browser" title="Picture-in-Picture"

	default-column-width { fixed 354; }
	default-window-height { fixed 200; }

	default-floating-position x=20 y=20 relative-to="bottom-right"

	open-focused false

	border { off; }
}

// pavucontrol
window-rule {
	match app-id="^.*pavucontrol.*$"

	default-column-width { proportion 0.55; }
	default-window-height { proportion 0.6; }

	open-floating true
}

// noctalia settings
window-rule {
	match app-id="^.*Noctalia.Settings$"

	default-column-width { proportion 0.8; }
	default-window-height { proportion 0.93; }

	open-floating true
}

// lotus settings
window-rule {
	match title="Lotus Settings|Fcitx Configuration"

	default-column-width { proportion 0.65; }
	default-window-height { proportion 0.8; }

	open-floating true
}

// mpv
window-rule {
	match app-id="mpv"

	default-column-width { fixed 1755; }
	default-window-height { fixed 987; }

	open-floating true
}

// media viewer
window-rule {
	match title="^Media viewer.*$|Zalo Photo"

	default-column-width { proportion 0.9; }
	default-window-height { proportion 0.9; }

	open-fullscreen false
	open-floating true

	border { off; }
}

// fileroller
window-rule {
	match app-id="^.*FileRoller$"

	default-column-width { proportion 0.55; }
	default-window-height { proportion 0.7; }

	open-floating true
}

binds {
	// Terminal
	Mod+Q repeat=false { spawn "foot"; }

	// File managers
	Mod+E repeat=false { spawn "nautilus"; }

	// fcitx5
	Alt+Shift+Z repeat=false { spawn "fcitx5-remote" "-t"; }

	// Control center & settings
	Mod+S repeat=false { spawn-sh "noctalia msg panel-toggle control-center || qs -c noctalia-shell ipc call controlCenter toggle"; }
	Alt+S repeat=false { spawn-sh "noctalia msg settings-toggle || qs -c noctalia-shell ipc call settings open"; }

	// Lockscreen
	Mod+L repeat=false { spawn-sh "noctalia msg session lock || qs -c noctalia-shell ipc call lockScreen lock"; }

	// Launcher, clipboard history and emoji
	// Mod+Return repeat=false { spawn-sh "noctalia msg panel-toggle launcher || qs -c noctalia-shell ipc call launcher toggle"; }
	Mod+Return repeat=false { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
	Alt+C repeat=false      { spawn-sh "noctalia msg panel-toggle clipboard || qs -c noctalia-shell ipc call launcher clipboard"; }
	Mod+Period repeat=false { spawn-sh "noctalia msg panel-toggle launcher /emo || qs -c noctalia-shell ipc call launcher emoji"; }

	// Session menu
	Mod+Shift+E repeat=false { spawn-sh "noctalia msg panel-toggle session || qs -c noctalia-shell ipc call sessionMenu toggle"; }
	// Mod+Shift+E repeat=false { spawn-sh "noctalia msg panel-toggle launcher /session"; }

	// Notifications history and notifications clear
	Alt+Escape repeat=false       { spawn-sh "noctalia msg notification-clear-history || qs -c noctalia-shell ipc call notifications clear"; }
	Alt+Shift+Escape repeat=false { spawn-sh "noctalia msg notification-clear-active || qs -c noctalia-shell ipc call notifications dismissAll"; }

	// Wallpaper selector
	Alt+W repeat=false { spawn-sh "noctalia msg panel-toggle wallpaper || qs -c noctalia-shell ipc call wallpaper toggle"; }

	// System controls
	XF86AudioRaiseVolume allow-when-locked=true       { spawn-sh "noctalia msg volume-up 2 || qs -c noctalia-shell ipc call volume increase"; }
	XF86AudioLowerVolume allow-when-locked=true       { spawn-sh "noctalia msg volume-down 2 || qs -c noctalia-shell ipc call volume decrease"; }
	XF86AudioMute allow-when-locked=true repeat=false { spawn-sh "noctalia msg volume-mute || qs -c noctalia-shell ipc call volume muteOutput"; }
	XF86MonBrightnessUp allow-when-locked=true        {	spawn-sh "noctalia msg brightness-up 5% || qs -c noctalia-shell ipc call brightness increase"; }
	XF86MonBrightnessDown allow-when-locked=true      { spawn-sh "noctalia msg brightness-down 5% || qs -c noctalia-shell ipc call brightness decrease"; }
	XF86AudioPlay allow-when-locked=true repeat=false { spawn-sh "noctalia msg media toggle || qs -c noctalia-shell ipc call media playPause"; }

	// Noctalia v4 plugins
	Alt+N repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:sticky-notes" "toggle"; }
	Alt+I repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:ip-monitor" "toggle"; }
	Alt+P repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:shell-profiles" "toggleProfiles"; }
	Alt+Z repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:notes-scratchpad" "togglePanel"; }
	Alt+T repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:translator" "toggle"; }

	// Noctalia v5 scripted widgets
	F9 { spawn "noctalia" "msg" "scripted-widget" "screen_recorder" "focused" "toggle"; }

	// Close window
	Mod+C repeat=false { close-window; }

	Mod+G repeat=false { toggle-overview; }

	Mod+Left repeat=false       { focus-column-left; }
	Mod+Shift+Down repeat=false { focus-window-down; }
	Mod+Shift+Up repeat=false   { focus-window-up; }
	Mod+Right repeat=false      { focus-column-right; }

	Mod+Ctrl+Left repeat=false  { move-column-left; }
	Mod+Ctrl+Down repeat=false  { move-window-down; }
	Mod+Ctrl+Up repeat=false    { move-window-up; }
	Mod+Ctrl+Right repeat=false { move-column-right; }

	Mod+Down repeat=false { focus-workspace-down; }
	Mod+Up repeat=false   { focus-workspace-up; }

	Mod+Alt+Down repeat=false { move-column-to-workspace-down; }
	Mod+Alt+Up repeat=false   { move-column-to-workspace-up; }

	Mod+Shift+WheelScrollDown { focus-workspace-down; }
	Mod+Shift+WheelScrollUp   { focus-workspace-up; }
	Mod+Alt+WheelScrollDown   { move-column-to-workspace-down; }
	Mod+Alt+WheelScrollUp     { move-column-to-workspace-up; }

	Mod+WheelScrollDown      { focus-column-right; }
	Mod+WheelScrollUp        { focus-column-left; }
	Mod+Ctrl+WheelScrollDown { move-column-right; }
	Mod+Ctrl+WheelScrollUp   { move-column-left; }

	Mod+1 repeat=false { focus-workspace 1; }
	Mod+2 repeat=false { focus-workspace 2; }
	Mod+3 repeat=false { focus-workspace 3; }
	Mod+4 repeat=false { focus-workspace 4; }
	Mod+5 repeat=false { focus-workspace 5; }
	Mod+6 repeat=false { focus-workspace 6; }
	Mod+7 repeat=false { focus-workspace 7; }
	Mod+8 repeat=false { focus-workspace 8; }
	Mod+9 repeat=false { focus-workspace 9; }
	Mod+0 repeat=false { focus-workspace 10; }

	Mod+Shift+1 repeat=false { move-column-to-workspace 1; }
	Mod+Shift+2 repeat=false { move-column-to-workspace 2; }
	Mod+Shift+3 repeat=false { move-column-to-workspace 3; }
	Mod+Shift+4 repeat=false { move-column-to-workspace 4; }
	Mod+Shift+5 repeat=false { move-column-to-workspace 5; }
	Mod+Shift+6 repeat=false { move-column-to-workspace 6; }
	Mod+Shift+7 repeat=false { move-column-to-workspace 7; }
	Mod+Shift+8 repeat=false { move-column-to-workspace 8; }
	Mod+Shift+9 repeat=false { move-column-to-workspace 9; }
	Mod+Shift+0 repeat=false { move-column-to-workspace 10; }

	Mod+BracketLeft repeat=false        { consume-or-expel-window-left; }
	Mod+BracketRight repeat=false       { consume-or-expel-window-right; }
	Mod+Shift+BracketLeft repeat=false  { consume-window-into-column; }
	Mod+Shift+BracketRight repeat=false { expel-window-from-column; }

	Mod+R repeat=false       { switch-preset-column-width; }
	Mod+Ctrl+R repeat=false  { switch-preset-window-height; }
	Mod+Shift+R repeat=false { reset-window-height; }

	Mod+X repeat=false { maximize-column; }
	Mod+F repeat=false       { fullscreen-window; }
	Alt+F repeat=false       { maximize-window-to-edges; }

	Mod+V repeat=false       { center-column; }
	Mod+Shift+V repeat=false { center-visible-columns; }

	Mod+Minus       { set-column-width "-10%"; }
	Mod+Equal       { set-column-width "+10%"; }
	Mod+Shift+Minus { set-window-height "-10%"; }
	Mod+Shift+Equal { set-window-height "+10%"; }

	Mod+A repeat=false { toggle-window-floating; }
	Mod+D repeat=false { switch-focus-between-floating-and-tiling; }

	Mod+J { toggle-column-tabbed-display; }

	Mod+Shift+S { screenshot show-pointer=false; }
	Print repeat=false { screenshot-screen show-pointer=false; }
	Mod+Shift+W repeat=false { screenshot-window write-to-disk=false show-pointer=false; }

	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

debug {
	honor-xdg-activation-with-invalid-serial
}
