[Unit]
Description=Enable WiFi at boot
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nmcli radio wifi on
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
